@import "tailwindcss";

:root {
  /* LIGHT THEME */
  --color-black: hsla(0, 0%, 0%, 1);
  --color-outer-space: hsla(203, 8%, 32%, 1);
  --color-onyx: hsla(0, 0%, 27%, 1);
  --color-gray: hsla(240, 4%, 42%, 1);
  --color-taupe: hsla(240, 4%, 62%, 1);
  --color-salmon: rgb(237, 124, 124);
  --color-browny: hsla(9, 23%, 61%, 1);
  --color-rose: hsla(337, 15%, 63%, 1);
  --color-sage: hsla(52, 35%, 63%, 1);
  --color-ash: hsla(163, 19%, 81%, 1);
  --color-papaya: hsla(40, 91%, 91%, 1);
  --color-lavender: hsla(232, 48%, 88%, 1);
  --color-platinum: hsla(240, 6%, 91%, 1);
  --color-white: hsla(240, 10%, 96%, 1);
}

.dark {
  /* DARK THEME */
  --color-black: hsla(0, 0%, 100%, 1);
  --color-outer-space: hsla(203, 8%, 80%, 1);
  --color-onyx: hsla(0, 0%, 90%, 1);
  --color-gray: hsla(240, 4%, 75%, 1);
  --color-taupe: hsla(240, 4%, 55%, 1);
  --color-salmon: rgb(255, 140, 140);
  --color-browny: hsla(9, 23%, 71%, 1);
  --color-rose: hsla(337, 15%, 73%, 1);
  --color-sage: hsla(52, 35%, 70%, 1);
  --color-ash: hsla(163, 19%, 88%, 1);
  --color-papaya: hsla(40, 91%, 95%, 1);
  --color-lavender: hsla(232, 48%, 93%, 1);
  --color-platinum: hsla(240, 6%, 96%, 1);
  --color-white: hsla(240, 10%, 100%, 1);
}
